<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span style="cursor: pointer;" routerLink="/">{{title}}</span>
    <span class="spacer"></span>

    <button mat-icon-button *ngIf="storage.getItem('login')" [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">
        Profil
      </button>
      <button mat-menu-item routerLink="users">
        User-Management
      </button>
      <button mat-menu-item (click)="logOut()">
        Logout
      </button>
    </mat-menu>
    <button mat-raised-button *ngIf="!storage.getItem('login')" routerLink="/login">Login</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="marginAll">
  <router-outlet></router-outlet>

</div>
